styx*.iml
.idea/*
api/target/*
api/log/*
core/target/*
spi/target/*
keepalive/target/*
log/*
connectionpool.properties
api/src/main/resources/api.properties
api/src/test/resources/api.properties
core/src/main/resources/core.properties


#vscode ignores
.classpath
.factorypath
.project
.settings/
.vscode/