<?xml version="1.0" encoding="UTF-8"?>
<Configuration monitorInterval="60">
    <Properties>
        <Property name="log-pattern">%d %-5p [%t] [] %c - %m%n</Property>
        <Property name="log-directory">log/</Property>
        <Property name="log-filename">styx_consentmanager.log</Property>
        <Property name="date-suffix">.%d{yyyy-MM-dd}</Property>
    </Properties>
    <Appenders>
        <RollingRandomAccessFile name="File" fileName="${sys:log-directory}${sys:log-filename}"
                                 filePattern="${sys:log-directory}${sys:log-filename}${sys:date-suffix}" append="true">
            <PatternLayout pattern="${sys:log-pattern}"/>
            <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
        </RollingRandomAccessFile>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n" />
        </Console>
    </Appenders>

    <Loggers>
        <Logger name="com.mchange" level="warn"/>
        <Root level="debug">
            <AppenderRef ref="File"/>
            <AppenderRef ref="console"/>
        </Root>
    </Loggers>
</Configuration>
