/* === GLOBAL === */

/* Einbindung der Schriften */

@font-face {
font-family:"Circular Pro Bold";
src: url("../font/lineto-circular-pro-bold.woff") format("truetype");
}

@font-face {
font-family: "Circular Pro Medium";
src: url("../font/lineto-circular-pro-medium.woff") format("truetype");
}
@font-face{
font-family: "Circular Pro Book";
src: url("../font/lineto-circular-pro-book.woff") format("truetype");
}

h1{
font-family: "Circular Pro Medium";
color: #3e3e3e;
}

p{
font-family: "Circular Pro Book";
color: #3e3e3e; 
}
strong{
font-family: "Circular Pro Medium"; 
color: #3e3e3e; 
}
body {
margin: 0;
font-family: 'Circular Pro Book', 'Helvetica Neue', 'Arial', sans-serif;
font-size: 16px;
overflow-x: hidden;    
}

* {
-webkit-box-sizing: border-box;
box-sizing: border-box;
}

::-webkit-scrollbar {
display: none;
}

section {
padding-top: 8rem;
padding-bottom: 8rem;
}

@media (max-width: 1440px) {

section {
padding-top:6rem;
padding-bottom: 6rem;
}
}
@media (max-width: 1280px) {

section {
padding-top: 4rem;
padding-bottom: 4rem;
}
}
@media (max-width: 1024px) {

section {
padding-top: 2rem;
padding-bottom: 2rem;
}
}

@media (max-width: 800px) {

section {
padding-top: .5rem;
padding-bottom: .5rem;
}
}

@media (max-width: 600px) {
section {
padding-top: .7rem;
padding-bottom: .7rem;
margin:0;  
}
}

#bepart{
background-color: #f2fbfa;
}


/* === GENERELLES === */

.clearfix::after {
content: "";
display: block;
clear: both;
}

.intro-container {
text-align: center;
width: 91%;
margin-left: auto;
margin-right: auto;
margin-bottom: 4rem;
}

.intro-container > h1 {
font-size: 3rem;
color: #3e3e3e;
margin-bottom: 2rem;     
}

.intro-container > p {
font-size: 1.1rem;
}

@media(min-width:3201px){

.intro-container > h1 {
font-size: 5rem;
color: #3e3e3e;
margin-bottom: 2rem;     
}

.intro-container > p {
font-size: 2rem;
}
}

@media (max-width: 1366px) {

.intro-container {
width: 90%;
}
.intro-container > h1 {
font-size: 1.6rem;
}
.intro-container > p {
margin-bottom: .5rem;
}
}

@media (max-width: 1024px) {

.intro-container {
margin-bottom: 1rem;
width: 100%;
}
.intro-container > h1 {
font-size: 1.4rem;
}
.intro-container > p {
margin-bottom: 0;
}

}


@media (max-width: 600px) {

.intro-container {
width: 100%;
text-align: center;
}

.intro-container > p {
margin-bottom: 0;
}
}


@media (max-width: 480px) {

.intro-container {
width: 100%;
text-align: center;
}
.intro-container > h1 {
font-size: 1.4rem;  
}

.intro-container > p {
margin-bottom: 0;
}
}

#wrapper{
position:absolute;
z-index: -1;
margin:0; 
padding:0;    
overflow-x: hidden;     
}


@media(max-width: 360px){
#über-uns-bereich > .container > .row > .col-6 >.col-3:last-of-type {
display:none;  
}
}


/* === INTRO CONTAINER LEFTBOUND */ 
.intro-container-lb {
text-align: left;
width: 91%;
margin-left: 2.5rem;
margin-right: auto;
margin-bottom: 4rem;
}

.intro-container-lb > h1 {
font-size: 3rem;
color: #3e3e3e;
margin-bottom: 2rem;
}

.intro-container-lb > p {
font-size: 1.1rem;
padding-right: 9%; 
}
@media(min-width:3201px){
.intro-container-lb > h1 {
font-size: 5rem;
color: #3e3e3e;
margin-bottom: 2rem;
}
.intro-container-lb > p {
font-size: 2rem;
}
.intro-container-lb{
margin-left:8%;
}
}
@media(max-width:2000px){
.intro-container-lb {
margin-left: 2.8rem;
}
}
@media(max-width:2800px){
.intro-container-lb {
margin-left: 3rem;
}
}
@media(max-width:2560px){
.intro-container-lb {
margin-left: 3.2rem;
}
}@media(max-width:1920px){
.intro-container-lb {
margin-left: 2.7rem;
}
}
@media(max-width:1440px){
.intro-container-lb {
margin-left: 1.8rem;
}
}
@media (max-width: 1366px) {
.intro-container-lb {
width: 90%;
}
.intro-container-lb > h1 {
font-size: 1.6rem;
}
.intro-container-lb > p {
margin-bottom: .5rem;
}
}@media (max-width: 1280px) {
.intro-container-lb {
margin-left: 1.4rem;
}
}

@media (max-width: 1024px) {

.intro-container-lb {
width: 100%;
margin-left: 0.9rem;  
}
.intro-container-lb > h1 {
font-size: 1.4rem;
}
.intro-container-lb > p {
margin-bottom: 0;
}
}

@media (max-width: 1024px) {

.intro-container-lb {
margin-bottom: 1rem;
}
}


@media (max-width:900px){
.intro-container-lb{
margin-left: -0.1rem;
}
}
@media(max-width:640px){
.intro-container-lb {
text-align: center;
margin-left:0;
}
.intro-container-lb > p {
margin-bottom: 0;
padding: 0;  
}
}
@media (max-width: 670px) {

.intro-container-lb {
width: 100%;
text-align:center;
}
.intro-container-lb > h1 {
font-size: 1.4rem;
}

.intro-container-lb > p {
margin-bottom: 0;
padding:0;
}
}

@media (max-width: 480px) {
.intro-container-lb > h1 {
font-size: 1.4rem;
margin-top: 0rem;    
}
}



/* === CONTAINER SECTION 4*/
.intro-container-sec4 {
text-align: center;
width: 80%;
margin-left: auto;
margin-right: auto;
margin-bottom: 4rem;
}

.intro-container-sec4 > h1 {
font-size: 3rem;
color: #3e3e3e;
margin-bottom: 2rem;
}

.intro-container-sec4  > p {
font-size: 1.1rem;
color: #3e3e3e;
}
@media(min-width: 3201px){
.intro-container-sec4 > h1 {
font-size: 5rem;
color: #3e3e3e;
margin-bottom: 2rem;
}

.intro-container-sec4  > p {
font-size: 2rem;
color: #3e3e3e;
}
}
@media (max-width: 1366px) {

.intro-container-sec4  {
width: 90%;
}

.intro-container-sec4  > p {
margin-bottom: .5rem;
}
.intro-container-sec4 > h1 {
font-size: 1.6rem;
}
}

@media (max-width: 1024px) {

.intro-container-sec4  {
width: 100%;
margin-bottom: 1rem;
}

.intro-container-sec4 > p {
margin-bottom: 0;
}
.intro-container-sec4 > h1 {
font-size: 1.4rem;
}
}@media (max-width: 480px) {

.intro-container-sec4 > h1 {
margin-top: 1.1rem;
}
}

/* === HEADLINE CONTAINER === */

.headline-container > h1 {
font-size: 3rem;
color: #3e3e3e; 
margin: 10% 40% 0 3.6%;
}

.headline-container > p {
font-size: 1.1rem;
color: #3e3e3e; 
margin: 2% 40% 0 3.6%;     
}
@media(min-width: 3225px){
.headline-container > h1 {
font-size: 5rem;
color: #3e3e3e; 
margin: 12% 40% 0 3.5%!important;
}
.headline-container > p {
font-size: 2rem;
color: #3e3e3e; 
margin: 2% 40% 0 3.5% !important;     
}
}
@media(max-width: 2800px){
.headline-container{
margin-left: -0.5%;
}
.headline-container > h1{
margin-top: 13%; 
}
}
@media(max-width: 2700px){
.headline-container > h1{
margin-top: 15%; 
}
}@media(max-width: 2560px){
.headline-container > h1{
margin-top: 13%; 
}
}
@media(max-width: 2000px){
.headline-container > h1{
margin-top: 13%; 
}
.headline-container{
margin-left: -0.3rem; 
}
}
@media(max-width: 1900px){
.headline-container > h1{
margin-top: 14%; 
}
}@media(max-width: 1818px){
.headline-container > h1{
margin-top: 16%; 
}
}
@media(max-width: 1600px){
.headline-container > h1{
margin-top: 19%; 
}
}
@media(max-width: 1500px){
.headline-container > h1{
margin-top: 19%; 
}
}
@media(max-width: 1440px){
.headline-container{
margin-left: -0.2%;
}
.headline-container > h1{
margin-top: 16%; 
}
}
@media (max-width: 1366px) {

.headline-container {
width: 90%;
margin-left: 0.2%;  
}
.headline-container > h1 {
font-size: 1.6rem;
padding-left:0;
margin-top: 20%;
}
.headline-container > p {
margin-bottom: .5rem;
}

}

@media(max-width:1280px){
.headline-container{
margin-left: 0.1rem;
}
.headline-container > h1 {
margin-top: 17%; 
}
}
@media (max-width: 1024px) {

.headline-container {
width: 100%;
margin-bottom: 1rem;
margin-left: 1.7rem;   
}

.headline-container > h1 {
font-size: 1.4rem;
margin-top: 13%;  
margin-left: 0;
margin-bottom: 2rem;   
}

.headline-container > p {
margin-bottom: 0;
margin-left: 0;  
}
}
@media (max-width: 900px) {
.headline-container {
padding-top: 1rem;
margin-left: 1.6rem;  
}
}

@media (max-width: 800px) {
.headline-container {
padding-top: 1.2rem;
margin-left: 1.5rem;  
}
}

@media(max-width: 670px){
.headline-container {
margin-bottom: 1rem;
margin-left: 0.6rem;   
}
}
@media (max-width: 640px) {

.headline-container {
margin-bottom: 1rem;
margin-top: 3rem; 
text-align: center;  
margin-left:0;
}
.headline-container > h1 { 
margin-top: 7%; 
margin-left: auto;
margin-right: auto;  
}

.headline-container > p {
margin-left: auto;
margin-right: auto;
padding-left: 0.1rem;
padding-right: 0.2rem;
}
}

@media (max-width: 480px) {
.headline-container {
margin-left:0;  
}
.headline-container > h1 {
font-size: 1.4rem; 
margin-bottom: 2rem; 
}
}


/* === HEADLINE CONTAINER MID === */
.headline-container-mid > h1 {
font-size: 3rem;
color: #3e3e3e; 
margin: 10% 60% 2rem 3%;
}

.headline-container-mid > p {
font-size: 1.1rem;
color: #3e3e3e; 
margin: 2% 62% 4% 3.6%;     
}

@media(min-width: 3201px){
.headline-container-mid > h1 {
font-size: 5rem;
color: #3e3e3e; 
margin: 10% 40% 0 3%;
}

.headline-container-mid > p {
font-size: 2rem;
color: #3e3e3e; 
margin: 2% 40% 4% 3.5%;     
}
.headline-container-mid > a {
font-size: 1.5rem;
}
}
@media(max-width: 2000px){
.headline-container-mid{
margin: 0 0 0 -0.3rem; 
}
}
@media(max-width:1901px){
.headline-container-mid > p {
margin: 2% 50% 4% 3.5%;     
}
}
@media(min-width: 1440px){
.headline-container-mid > h1{
margin: 5% 40% 0 3.5%;
}
}
@media (max-width: 1440px) {
.headline-container-mid {
width: 90%;
margin-left: 0.3rem;
}
.headline-container-mid > h1 {
font-size: 3rem;
padding-left: 0;  
}

.headline-container-mid > p {
margin-bottom: 3rem;
margin-right: 49%;   
}
}
@media(max-width: 1366px){
.headline-container-mid > h1{
font-size: 1.6rem; 
margin: 10% 60% 0 3.4%;
}
.headline-container-mid > p{
margin: 2% 50% 4% 3.4%;
}
}
@media (max-width: 1280px) {

.headline-container-mid {
width: 100%;
margin-bottom: 1rem;
}

.headline-container-mid > h1 {
font-size: 1.6rem;
margin-left: 3%;
}

.headline-container-mid > p {
margin-bottom: 4%;
margin-left: 3%; 
margin-right: 55%; 
}
}
@media (max-width: 1024px) {

.headline-container-mid {
width: 100%;
margin-bottom: 1rem;
margin-left: 0.8rem;  
}

.headline-container-mid > h1 {
font-size: 1.4rem;
padding-left:0;
margin-left: 2%;
}

.headline-container-mid > p {
margin-bottom: 6%;
margin-left: 2%;  
}

}

@media (max-width: 900px) {
.headline-container-mid {
padding-top: 2rem; 
margin-left: -0.1rem;  
}
}
@media (max-width: 800px) {
.headline-container-mid {
padding-top: 2rem; 
margin-left: 0.5rem;  
}
}
@media (max-width: 768px) {
.headline-container-mid {
padding-top: 2rem; 
margin-left: 0.5rem;
}
}

@media (max-width: 670px) {

.headline-container-mid {
width: 100%;
margin-bottom: 1rem;
margin-left: 1rem;  
}

.headline-container-mid > h1 {
font-size: 1.4rem;
margin-left: 0%;
}

.headline-container-mid > p {
margin-bottom: 6%;
margin-left: 0%;  
}

}
@media (max-width: 640px) {

.headline-container-mid {
margin-bottom: 1rem;
padding-top: 0;   
margin-top: 2rem; 
margin-left:0;  
text-align: center;   
}
.headline-container-mid > h1 {
text-align: center; 
margin: 1rem 0 1rem 0; 
}

.headline-container-mid > p {
text-align: center;
margin: 1rem 0 1rem 0rem;
padding-bottom: 2rem;  
}
}

@media (max-width: 480px) {
.headline-container-mid > h1 {
font-size: 1.4rem; 
margin-top: 0; 
}
.headline-container-mid{
margin-top:1rem;
}
}



/* === BUTTONS === */

.btn-typ-2 {
background-color: transparent;
border: 2px solid #fff;
color: white;
text-decoration: none;      
padding: .8rem 1.2rem;
-webkit-transition: color .5s ease-in-out, border .5s ease-in-out;
transition: color .5s ease-in-out, border .5s ease-in-out;     
}

.btn-typ-2:hover{
background-color:white; 
color: #24292e;
}
.btn-typ-2:focus {
color: white;
color: #24292e;
}

@media(min-width:1800px){
.btn-typ-2{
padding: 1rem 1.6rem;
}
}
@media(max-width: 800px){
.btn-typ-2{
padding: 0.8rem 1.5rem; 
}  
}
@media(max-width: 760px){
.btn-typ-2{
padding: 0.8rem 2rem; 
}  
}
@media(max-width: 740px){
.btn-typ-2{
padding: 0.5rem 1rem; 
}  
}

.btn-typ-3 {
background-color: transparent;
border: 2px solid #1eb5bc;
padding: .4rem .6rem;  
margin-left: 3.5%;    
font-size: 1.1rem;
color: #1eb5bc; 
-webkit-transition: border .5s ease-in-out;
transition: border .5s ease-in-out;
text-decoration: none; 
font-weight: 500;     
}

.btn-typ-3:hover {
background-color:  #1eb5bc;
font-weight: normal;
color: white;
}

@media(min-width:3201px){
.btn-typ-3{
padding: 2rem 4rem; 
font-size: 1.5rem;
margin-left: 3.5%; 
} 

}
@media(max-width: 2700px){
.btn-typ-3{
padding: 1.4rem 2.5rem; 
font-size: 1.1rem;
margin-left: 3.5%;
}  

}
@media(max-width: 2300px){
.btn-typ-3{
padding: 1.0rem 1.6rem; 
}  
}@media(max-width: 1920px){
.btn-typ-3{
padding: 1.0rem 1.6rem; 
margin-left: 3.6%;
}  
}
@media(max-width: 1440px){
.btn-typ-3{
padding: .8rem 1.2rem; 
}  
}
@media(max-width: 1280px){
.btn-typ-3{
padding: .8rem 1.2rem; 
margin-left: 2rem;
}  
}
@media(width:1366px){
.btn-typ-3{
margin-left: 2.2rem;
}
}
@media(max-width: 1024px){
.btn-typ-3{
margin-left: 1.2rem;
}  
}
@media(max-width: 900px){
.btn-typ-3{
padding: 0.8rem 2rem;
margin-left: 1.5rem;
}  
}
@media(max-width:768px){
.btn-typ-3{
margin-left: 1rem;
}
}@media(max-width:670px){
.btn-typ-3{
margin-left: 0;
}
}
@media(max-width: 480px){
.btn-typ-3{
padding: 0.8rem 2rem;
}  
}
/* === NAVIGATIONSLEISTE === */

#header-nav {
width: 100%;
height: 70px;
background-color: #fff;
position: fixed !important;
box-shadow: 0.1px 0.5px 3px 0.5px #e4e4e4;
}
@media(min-width: 3201px){
#header-nav{
height: 140px; 
}
}
@media(max-width: 2800px){
#header-nav{
height: 100px; 
}
}
@media(max-width: 1920px){
#header-nav{
height: 70px; 
}
}
#header-nav a > img {
height: 40px;
width: auto;
margin: .9rem; 
float: left;
}
@media (min-width: 3201px){
#header-nav a > img{
height: 80px;
margin: 1.8rem;
} 
}
@media (max-width: 2800px){
#header-nav a > img{
height: 60px;
margin: 1.3rem;
margin-left: 0.8rem;
} 
}
@media (max-width: 1920px){
#header-nav a > img{
height:40px;
margin: 0.9rem;
margin-left: 0.7rem;
} 
}


@media (max-width: 800px){
#header-nav a > img{
margin-left: 0.4rem; 
} 
}  
@media (max-width: 600px){
#header-nav a > img{
margin-left: -0.05rem; 
} 
}  
#header-nav ul {
margin: 0;
padding: 0;
float: right;
height: 100%;
}



#header-nav .col-6 {
padding-top: 0;
padding-bottom: 0;
}

#header-nav .container,
#header-nav .row,
#header-nav .col-6 {
height: 100%;
}

.logo-link {
display: block;  
margin-left: 2.7%;    
}
@media(min-width:1920px){
.logo-link {  
margin-left: 2.6%;    
}
}
@media(max-width:1440px){
.logo-link {  
margin-left: 2.4%;    
}
}

/* === NAVIGATIONSLEISTE (MOBIL) === */

#mobile-nav-button {
color: #FFF;
float: right;
font-size: 2rem;
border: 2px solid #FFF;
width: 37px;
height: 37px;
position: relative;
margin-top: .4rem;
margin-bottom: .5rem;
}


#mobile-nav {
display: none;
}

@media (max-width: 800px) {

#desktop-nav {
display: none;
}

#mobile-nav {
display: block;
}

}


/* === HEADER-BANNER === */

#header-banner {
width: 100%;
height: 35rem;
padding-top: 20.83%;
background: url("../img/hintergrund.jpg") no-repeat;
background-size: cover;
background-position: 80%;  
}
@media(max-width: 1440px){
#header-banner{
height:32rem; 
}
}
@media (max-width: 1280px){
#header-banner{
background: url("../img/hintergrund-klein.jpg"); 
height: 25rem;
background-size: cover;
background-position: 85%;
}
}

@media (max-width: 1024px){
#header-banner{
background: url("../img/hintergrund-klein.jpg"); 
height: 20rem;
background-size: cover;
background-position: 85%;
}
}
@media (max-width: 800px){
#header-banner{
background: url("../img/hintergrund-klein.jpg"); 
height: 20rem;
background-size: cover;
background-position: 85%;
}
}
@media (max-width: 640px){
#header-banner{
background: url("../img/hintergrund-mobile.jpg"); 
height: 35em;
background-size: cover;
background-position: center center;
}
}
@media (max-width: 481px){
#header-banner{
background: url("../img/hintergrund-mobile.jpg"); 
height: 40em;
background-size: cover;
background-position: bottom center;
}
}
#content-banner {
width: 100%;
height: 40rem;
padding-top: 20.83%;
background: url("../img/03_img_kontakt.jpg") no-repeat;
background-size: cover;
}

@media (min-width: 2800px){
#content-banner{
background: url("../img/03_img_kontakt.jpg"); 
height: 34rem;
background-size: 70%;
background-repeat: no-repeat;
background-position: 100% 50%;
}
}
@media (max-width: 2800px){
#content-banner{
background: url("../img/03_img_kontakt.jpg"); 
height: 34rem;
background-size: 80%;
background-repeat: no-repeat;
background-position:  103% 83%;
}
}
@media (width: 2560px){
#content-banner{
background: url("../img/03_img_kontakt.jpg"); 
height: 34rem;
background-size: 80%;
background-repeat: no-repeat;
background-position:   103% 83%;
}
}
@media (max-width: 1920px){
#content-banner{
background: url("../img/03_img_kontakt.jpg"); 
height: 34rem;
background-size: cover;
background-position: 90%;
}
}


@media (max-width: 1440px){
#content-banner{
background: url("../img/03_img_kontakt_tablet.jpg"); 
height: 40rem;
background-size: 80%;
background-repeat: no-repeat;
background-position: 101% 108%;
}
}

@media (max-width: 1280px){
#content-banner{
background: url("../img/03_img_kontakt_tablet.jpg"); 
height: 40rem;
background-size: cover;
background-position: 85% 90%;
}
}
@media (max-width: 1024px){
#content-banner{
background: url("../img/03_img_kontakt_tablet.jpg"); 
height: 30rem;
background-size: cover;
background-position: 85% 90%;
}
}
@media (max-width: 800px){
#content-banner{
background: url("../img/03_img_kontakt_tablet.jpg"); 
height: 30rem;
background-size: cover;
background-position: 95% 90%;
}
}
@media (max-width: 670px){
#content-banner{
background: url("../img/03_img_kontakt_tablet.jpg"); 
height: 30rem;
background-size: cover;
background-position: bottom left;
}
}
@media (max-width: 640px){
#content-banner{
background: url("../img/03_img_kontakt_smartphone.jpg"); 
height: 40em;
background-size: cover;
background-position: bottom right;
}
}
@media (max-width: 375px){
#content-banner{
background: url("../img/03_img_kontakt_smartphone.jpg"); 
height: 40em;
background-size: cover;
background-position: bottom right;
}
}



#header-banner-klein {
width: 100%;
height: 0;
padding-top: 15.625%;
background: url("../img/hintergrund-klein.jpg") no-repeat;
background-size: contain;
}

/* === HEADER IMG === */ 
#headerimg{
width: 20%; 
padding-top: 2%;
padding-left: 2%;
}

/* === ANIMIERTES LOGO === */

@-webkit-keyframes logoAnimation {
0%        { -webkit-transform: rotateZ(0deg); transform: rotateZ(0deg);   }
11.111%   { -webkit-transform: rotateZ(0deg); transform: rotateZ(0deg);   }
22.222%   { -webkit-transform: rotateZ(90deg); transform: rotateZ(90deg);  }
33.333%   { -webkit-transform: rotateZ(90deg); transform: rotateZ(90deg);  }
44.444%   { -webkit-transform: rotateZ(180deg); transform: rotateZ(180deg); }
55.555%   { -webkit-transform: rotateZ(180deg); transform: rotateZ(180deg); }
66.666%   { -webkit-transform: rotateZ(270deg); transform: rotateZ(270deg); }
77.777%   { -webkit-transform: rotateZ(270deg); transform: rotateZ(270deg); }
88.888%   { -webkit-transform: rotateZ(360deg); transform: rotateZ(360deg); }
100%      { -webkit-transform: rotateZ(360deg); transform: rotateZ(360deg); }
}

@keyframes logoAnimation {
0%        { -webkit-transform: rotateZ(0deg); transform: rotateZ(0deg);   }
11.111%   { -webkit-transform: rotateZ(0deg); transform: rotateZ(0deg);   }
22.222%   { -webkit-transform: rotateZ(90deg); transform: rotateZ(90deg);  }
33.333%   { -webkit-transform: rotateZ(90deg); transform: rotateZ(90deg);  }
44.444%   { -webkit-transform: rotateZ(180deg); transform: rotateZ(180deg); }
55.555%   { -webkit-transform: rotateZ(180deg); transform: rotateZ(180deg); }
66.666%   { -webkit-transform: rotateZ(270deg); transform: rotateZ(270deg); }
77.777%   { -webkit-transform: rotateZ(270deg); transform: rotateZ(270deg); }
88.888%   { -webkit-transform: rotateZ(360deg); transform: rotateZ(360deg); }
100%      { -webkit-transform: rotateZ(360deg); transform: rotateZ(360deg); }
}

#animiertes-logo {
height: 40px;
width: 40px;
background-color: #fff;
border-radius: 50%;
float:right;
margin-right: 3.3rem;
}

#animiertes-logo > img {
display: block;
width: 40px;
height: 40px;
margin-top: 0.9rem;  
margin-bottom: 0.9rem;    
-webkit-animation: logoAnimation 10s ease-in-out infinite alternate;
animation: logoAnimation 10s ease-in-out infinite alternate;
}
@media(min-width: 3201px){
#animiertes-logo{
height: 80px;
width: 80px; 
margin-right: 5.5rem; 
}
#animiertes-logo > img {
width: 80px; 
height: 80px; 
margin-top: 1.8rem;
margin-bottom: 1.8rem;
}
}
@media(max-width:2800px){
#animiertes-logo > img{
width: 60px; 
height: 60px; 
margin-top: 1.3rem;
margin-bottom: 1.3rem;
}
#animiertes-logo{
height: 60px;
width: 60px; 
margin-right: 4.2rem; 
}
}@media(max-width:2560px){
#animiertes-logo{
margin-right: 3.3rem; 
}
}

@media(max-width: 1920px){
#animiertes-logo{
margin-right: 1.9rem;
}
#animiertes-logo > img {
display: block;
width: 40px;
height: 40px;
margin-top: 0.9rem;  
margin-bottom: 0.9rem;         
-webkit-animation: logoAnimation 10s ease-in-out infinite alternate;
animation: logoAnimation 10s ease-in-out infinite alternate;        
}
}
@media(max-width: 1440px){
#animiertes-logo{
margin-right: 1.2rem;
}
}
@media(max-width: 1366px){
#animiertes-logo{
margin-right: 1rem;
}
}
@media(max-width: 900px){
#animiertes-logo{
margin-right: 0rem;
}
}

@media (max-width: 600px) {

#animiertes-logo {
display:none;
}

}




/* === TEILER HEADER SEGMENT 1 === */
.divider{
width: 100%;
height: 10px;
background-color: #e4e4e4;
}
.divider-colored{
width: 100%;
height: 10px;
background-color: #1eb5bc;
}



/* === The VISION OF STYX - BEREICH === */
#styx-vision-container {
width: 100%;
text-align: left;
}

#styx-vision-container > h1{
font-size: 3rem;
margin-bottom: 2rem; 
margin-top: 2rem;
}
@media (min-width: 3201px){
#styx-vision-container > h1{
font-size: 5rem;
}
}
@media (max-width: 1366px){
#styx-vision-container > h1{
font-size: 1.6rem;
padding-left: 0;
}
}
@media (max-width: 1024px){
#styx-vision-container > h1{
font-size: 1.4rem;
padding-left: 0;
}
}
@media (max-width: 670px){
#styx-vision-container > h1{
text-align: center;
margin-top:1%;
}
}
@media (max-width: 480px){
#styx-vision-container > h1{
text-align: center;
margin-top:0;
}
}



#styx-vision-container > p{
font-size: 1.1rem;
}
@media(min-width:3201px){
#styx-vision-container > p {
font-size: 2rem;
}
}
@media(max-width: 670px){
#styx-vision-container > p{
text-align: center;
} 
}
@media (max-width: 480px){
#styx-vision-container > p{
font-size: 1.1rem;
margin-bottom: -10%;
}
}
@media (max-width: 360px){
#styx-vision-container > p{
font-size: 1.1rem;
margin-bottom: -3%;
}
}
@media (max-width: 320px){
#styx-vision-container > p{
font-size: 1.1rem;
margin-bottom: -5%;
}
}
.intro-styxvision-container {
text-align: center;
width: 95%;
margin-left: 2.5rem;
margin-right: auto;
margin-bottom: 2rem;
}
@media(max-width:3860px){
.intro-styxvision-container{
margin-left: 5rem;
}
}
@media(max-width:2800px){
.intro-styxvision-container{
margin-left: 3.5rem;
}
}
@media(max-width:2650px){
.intro-styxvision-container{
margin-left: 2.7rem;
}
}
@media(max-width:2000px){
.intro-styxvision-container{
margin-left: 3.1rem;
}
}@media(max-width:1920px){
.intro-styxvision-container{
margin-left: 2.5rem;
}
}
@media(max-width:1440px){
.intro-styxvision-container{
margin-left: 1.8rem;
}
}
@media (max-width: 1366px) {
.intro-styxvision-container {
width: 90%;
}
.intro-styxvision-container > p {
margin-bottom: .5rem;
}    
}
@media (max-width: 1280px) {
.intro-styxvision-container {
margin-left: 1.5rem
}
}

@media (max-width: 1024px) {

.intro-styxvision-container {
width: 100%;
margin-bottom: 1rem;
margin-left: 0rem;  
}
.intro-styxvision-container > p {
margin-bottom: 0;
}
}
    
@media(max-width:900px) {
.intro-styxvision-container {
margin-left: 0;
}
}

    
    
.styx-logo{
width: 65%;
margin: 17% 0% 0% 0%;
float:right; 
}
@media (min-width:3202px){
.styx-logo{
margin-top: 10%;
margin-left: 15%;
margin-bottom: -5%; 
width: 45%; 
}
}
@media (max-width:3201px){
.styx-logo{
margin-top: 21%;
margin-left: 10%;
margin-bottom: -5%; 
width: 35%; 
}
}
@media (max-width:3200px){
.styx-logo{
margin-top: 19%;
margin-left: 10%;
margin-bottom: -5%; 
width: 35%; 
}
}
@media (max-width:2800px){
.styx-logo{
margin-top: 13%;
margin-left: 10%;
margin-bottom: -5%; 
width: 35%; 
}
}
@media (width:2560px){
.styx-logo{
margin-top: 18%;
margin-left: 7%;
margin-bottom: -5%; 
width: 40%; 
}
}
@media (max-width:2500px){
.styx-logo{
margin-top: 13%;
margin-left: 10%;
margin-bottom: -5%; 
width: 45%; 
}
}
@media (max-width:1950px){
.styx-logo{
margin-top: 13%;
margin-left: 10%;
margin-bottom: -5%; 
width: 45%; 
}
}
@media (max-width: 1630px){
.styx-logo{
margin-top: 18%;
margin-left: 10%;
margin-bottom: -5%; 
width: 60%; 
}
}
@media (max-width:1600px){
.styx-logo{
margin-top: 16%;
margin-left: 10%;
margin-bottom: -5%; 
width: 60%; 
}
}
@media (max-width:1440px){
.styx-logo{
margin-top: 23%;
margin-left: 10%;
margin-bottom: -15%; 
width: 60%; 
}
}@media (max-width:1366px){
.styx-logo{
margin-top: 18%;
margin-left: 10%;
margin-bottom: -15%; 
width: 60%; 
}
}
@media (max-width:1300px){
.styx-logo{
margin-top: 20%;
width: 60%;
margin-bottom: -10%; 
}
}
@media (max-width:1024px){
.styx-logo{
margin-top: 25%;
margin-bottom: -15%; 
margin-left: 11%;
margin-right: -3%;
width: 70%; 
}
}
@media (max-width: 800px){
.styx-logo{
float:right;
margin-top: 28%;
margin-bottom: -15%; 
margin-left: 10%;
width: 85%; 
}
}
@media(max-width: 670px){
.styx-logo{
float:right;
margin-top: 10%; 
width: 40%; 
margin-bottom: 10%;
margin-left: 8%;
margin-right: 2%;
}
}
@media (width: 640px){
.styx-logo{
float:right;
margin-top: 10%; 
width: 40%; 
margin-bottom: 0%;
margin-left: 4%;
margin-right: 4%;
}
}
@media (max-width: 600px){
.styx-logo{
float:right;
margin-top: 5%; 
width: 40%; 
margin-bottom: 2%;
margin-left: 8%;
margin-right: 2%;
}
}
#logo-box{
margin-right: 7%;
margin-left: auto; 
}
@media (max-width: 2800px){
#logo-box{
margin-right: 5.5%; 
}
}
@media (max-width: 800px){
#logo-box{
margin-right: 2.5%; 
}
}

@media (max-width: 481px){
#logo-box{
display: none; 
}
}



/* === LEISTUNGEN-BEREICH === */



.bg-content{
width: 100%;
height: 37rem;
background-image: url("../img/01_img_latop_haende.jpg");
background-repeat: no-repeat;
background-size: cover;
background-position: center; 
}



#leistungen-bereich {
padding-top: 1rem;
}


.flip-box {
background-color: transparent;
width: 100%;
height: 200px;
margin-bottom: 10%; 
position: relative;    
}
@media(min-width:3201px){
.flip-box{
height: 400px;
}
}
@media(max-width: 1440px){
.flip-box{
width: 100%;
height: 230px; 
margin-bottom: 2%; 
}
}
@media(max-width: 1366px){
.flip-box{
width: 100%;
height: 230px; 
margin-bottom: 2%; 
}
}
@media(max-width: 1024px){
.flip-box{
width: 100%;
height: 250px; 
margin-bottom: 2%; 
}
}
@media(max-width: 945px){
.flip-box{
width: 100%;
height: 200px; 
margin-bottom: 3%; 
}
}
@media(max-width: 800px){
.flip-box{
width: 100%;
height: 200px; 
margin-bottom: 0%; 
}
}
@media(max-width: 612px){
.flip-box{
width: 100%;
height: 220px;
margin-bottom: 2%; 
}
}
@media(max-width: 600px){
.flip-box{
width: 100%;
margin-bottom: 2%; 
}
}


.flip-box-inner {
position: relative;
width: 100%;
height: 100%;
text-align: center;
transition: transform 0.8s;
transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
transform: rotateX(180deg);
}

.flip-box-front, .flip-box-back {
position: absolute;
width: 100%;
height: 100%;
-webkit-backface-visibility: hidden;
backface-visibility: hidden;
}

.flip-box-front {
background-color: #fff;
border: 2px solid #1eb5bc;    
color: #1eb5bc;
padding-top: 23%;    
}
@media(min-width:3201px){
.flip-box{
padding-top: 8%;
}
.flip-box-front > h2{
font-size: 2rem;
}
}
@media(max-width: 3200px){
.flip-box-front{
padding-top: 13%; 
}
}
@media(max-width: 2600px){
.flip-box-front{
padding-top: 16%; 
}
}@media(max-width: 2560px){
.flip-box-front{
padding-top: 18%; 
}
}
@media(max-width: 2300px){
.flip-box-front{
padding-top: 20%; 
}
}
@media(max-width: 1712px){
.flip-box-front{
padding-top: 24%; 
}
}
@media(max-width: 1440px){
.flip-box-front{
padding-top: 34%; 
}
}
@media(max-width: 1366px){
.flip-box-front{
padding-top: 36%; 
}
}
@media(max-width: 1279px){
.flip-box-front{
padding-top:40%;
}
}
@media(max-width: 1040px){
.flip-box-front{
padding-top:55%;
}
}
@media(width: 1024px){
.flip-box-front{
padding-top: 24%; 
}
}
@media(max-width: 965px){
.flip-box-front{
padding-top: 47%; 
}
}
@media(width:960px){
.flip-box-front{
padding-top: 23%; 
}
}
@media(max-width: 945px){
.flip-box-front{
padding-top: 17%; 
}
}
@media(max-width: 900px){
.flip-box-front{
padding-top: 40%; 
}
}
@media(max-width: 850px){
.flip-box-front{
padding-top: 20%; 
}
}
@media(max-width: 800px){
.flip-box-front{
padding-top: 21%; 
}
}
@media(max-width: 640px){
.flip-box-front{
padding-top: 25%;
}
}
@media(max-width: 612px){
.flip-box-front{
padding-top: 30%;
}
}
@media(max-width: 600px){
.flip-box-front{
padding-top: 14%;
}
}
@media(max-width: 480px){
.flip-box-front{
padding-top: 18%;
}
}
@media(max-width: 420px){
.flip-box-front{
padding-top: 21%;
}
}
@media(max-width: 375px){
.flip-box-front{
padding-top: 22%;
}
}
@media(max-width: 375px){
.flip-box-front{
padding-top: 24%;
}
}
@media(max-width: 360px){
.flip-box-front{
padding-top: 24%;
}
}@media(max-width: 320px){
.flip-box-front{
padding-top: 29%;
}
}

.flip-box-back {
background-color: #1eb5bc;
color: white;
transform: rotateX(180deg);
padding: 5%;     
}
@media(min-width:3201px){
.flip-box-back > h2{
font-size: 2rem;
}
.flip-box-back > p{
font-size: 1.5rem; 
}
.flip-box-back{
padding-top: 10%;
}
}
@media(width: 1024px){
.flip-box-back{
padding-top: 11%; 
}
}
@media(width:960px){
.flip-box-back{
padding-top: 12%; 
}
}
@media(max-width: 945px){
.flip-box-back{
padding-top: 5.5%; 
}
}
@media(max-width: 600px){
.flip-box-back{
padding-top: 7%; 
}
}
@media(width: 480px){
.flip-box-back{
padding-top: 8%;
}
}

.flip-box-back > p {
color: white;
}



/* === USE CASE STYX BEREICH === */
#use-case-bereich{
background-color: #E6EEF3;
}
#use-case-container {
width: 100%;
text-align: left;
}

#use-case-container > h1{
font-size: 3rem;
text-align: left;
margin-bottom: 2rem; 
}
#use-case-container > p{
text-align: left; 
font-size: 1.1rem; 
}
@media(min-width:3201px){
#use-case-container > h1{
font-size: 5rem;
text-align: left;
}
#use-case-container > p{
text-align: left; 
font-size: 2rem; 
}
}

@media (max-width: 1366px){
#use-case-container > h1{
font-size: 1.6rem; 
text-align: left; 
}
}
@media (max-width: 1024px){
#use-case-container > h1{
font-size: 1.6rem; 
text-align: left; 
}
}
@media (max-width: 800px){
#use-case-container > h1{
font-size: 1.4rem; 
}
}
@media (max-width: 768px){
#use-case-container > h1{
margin-top: 0.5rem; 
}
#use-case-container > p{
margin-bottom: 0.5rem; 
}
}
@media (max-width: 670px){
#use-case-container > h1{
text-align: center;
}
#use-case-container > p{
text-align: center; 
}
}

@media (max-width: 480px){
#use-case-bereich{
height: 59rem;
}
#use-case-container > h1{
text-align: center;
margin-top: 0;
}
#use-case-container > p{
font-size: 1.1rem;
text-align: center;    
}
}



#img-box{
margin-right: 5.5%;
margin-left: auto; 
}
@media(max-width:1440px){
#img-box{
margin-right: 11%;
}
}


@media (max-width: 481px){
#img-box{
margin:0; 
}
}

.styx-logo-usecase{
float:left;
width: 40%;
margin-top: 2rem; 
}
@media (max-width: 1366px){
.styx-logo-usecase{
margin-top: 1.5rem; 
width: 50%; 
}
}
@media (max-width: 800px){
.styx-logo-usecase{
display: none;  
}
}

/* Erklärendes Diagramm Use Case */
.use-case-diagram{
float: right; 
width: 65%;
padding-top:3rem; 
}
@media (max-width: 1600px){
.use-case-diagram{
padding-top: 3.5rem; 
margin-right: -1.5rem; 
width: 75%; 
}
}
@media (max-width: 1440px){
.use-case-diagram{
padding-top: 3rem; 
margin-right: -2.1rem; 
width: 75%; 
}
}
@media (max-width: 1024px){
.use-case-diagram{
padding-top: 2rem; 
margin-right: -1.8rem; 
width: 90%; 
}
}
@media (max-width: 800px){
.use-case-diagram{
padding-top: 3.7rem; 
margin-right: -2.3rem; 
width: 100%; 
}
}
@media(max-width: 745px){
.use-case-diagram{
padding-top: 4.5rem;
}
}
@media (max-width: 640px){
.use-case-diagram{
padding-top: 2rem; 
margin-bottom: 2rem; 
margin-right: 15%; 
margin-left: auto; 
width: 60%; 
}
}
@media (max-width: 600px){
.use-case-diagram{
padding-top: 2rem; 
margin-bottom: 2rem; 
margin-right: 5%; 
margin-left: auto; 
width: 80%; 
}
}
@media (max-width: 480px){
.use-case-diagram{
float:left;
padding-top: 2rem; 
margin-bottom: 2rem; 
width: 100%; 
}
}
.intro-use-case-container {
text-align: left;
width: 95%;
margin-left: 5.5%;
margin-right: auto;
margin-bottom: 2rem;
}

.intro-use-case-container > .use-case-container > h1 {
font-size: 1.6rem; 
color: #3e3e3e;
}

.intro-use-case-container> p {
font-size: 1.1rem;
}
@media(width:1440px){
.intro-use-case-container {
text-align: left;
width: 95%;
margin-left: 4.8%;
margin-right: auto;
margin-bottom: 2rem;
}
}
@media (max-width: 1366px) {
.intro-use-case-container {
width: 90%;
}
.intro-use-case-container> p {
margin-bottom: .5rem;
}
}
@media (max-width: 1366px) {
.intro-use-case-container {
margin-left: 1.5rem;  
}
}

@media (max-width: 1024px) {
.intro-use-case-container {
width: 100%;
margin-bottom: 1rem;
margin-left: 0.3rem;  
}
.intro-use-case-container > p {
margin-bottom: 0;
}
}

@media (max-width: 900px) {
.intro-use-case-container{
margin-left: 0;
}
}
    
/* === FIND MORE ABOUT STYX - BEREICH === */

#find-more {
background-color: #fff; 
text-align: center; 
}
@media(width:800px){
#find-more{
height:33rem;
}
}
@media(width:768px){
#find-more{
height:32rem;
}
}
@media(max-width:650px){
#find-more{
height:58rem;
}
}   
@media(max-width:480px){
#find-more{
height:61rem;
}
}

.feature-box-sec4 {
background-color: #24292e;
text-align: left;
color: white;
text-decoration: none;
padding: 1rem 3rem 2.5rem 3rem;
width: 100%;
height: 14em;
margin-bottom: 1.6rem;
background-image: url("../img/GitHub_Logo_White.png");
background-size: 20%;    
background-position: 93% 84%;
background-repeat: no-repeat;
}
.feature-box-sec4  > p{
font-size: 1.1rem; 
}

@media(max-width: 600px){
.feature-box-sec4 {
width: 100%; 
padding: 1rem 1.5rem 2.5rem;    
}
}
.linkbox{
background-color: #24292e;
text-align: left;
width: 89%;
height: 14em;
margin-left: 5.5%;
margin-right: auto;
}
.feature-box-sec4 > a > p{
margin-bottom: 2.6rem;
}

.col-3:last-of-type  > .linkbox {
margin-left: 4.5%;
}

@media(max-width:2800px){
.col-3:last-of-type  > .linkbox {
margin-left: 2%;
}
.linkbox{
height:14rem; 
width: 92%;
}
.feature-box-sec4 > a > p{
margin-bottom: 2.6rem;     
} 
    .feature-box-sec4 {
        background-size: 26%;
        background-position: 90% 83%;
    }    
}

@media(min-width:2900px){
.feature-box-sec4{
background-position: 94% 83%;
height:100%;
}
.linkbox{
height:19rem !important; 
width: 91% !important;
}
.col-3:last-of-type  > .linkbox {
margin-left: 2.5% !important;
}
.col-3:first-of-type  > .linkbox {
margin-left: 6.5% !important;
}
.feature-box-sec4 > a > h2{
font-size: 2.2rem;
}
.feature-box-sec4 > a > p{
font-size: 1.5rem;
margin-bottom: 4rem;     
}
}

.feature-box-sec4 > p{
color: white;
}

.fill-div{
text-decoration: none;
width: 100%;
}


.feature-box-sec4 > a > h2{
color: white;
}
.feature-box-sec4 > a > p{
color: white;
}
@media(width: 3840px){
.linkbox:last-of-type {
width: 100%;
float:left;
height: 14em;
margin-left: 3%!important;     
}
}

@media(max-width: 1770px){
.feature-box-sec4 > a > p{
margin-bottom: 2.9rem;
}
}

@media(width:1440px){
.feature-box-sec4{
background-image: none;
text-align: center;     
}
.col-2:nth-child(2) >.linkbox > .feature-box-sec4 > a > p{
    margin-bottom: 4rem;    
    }    
}

@media(width: 1366px){
.feature-box-sec4 {
width: 100%;
height: 15em;
background-image: none; 
text-align:center;
}
.col-2:nth-child(2) >.linkbox > .feature-box-sec4 > a > p{
    margin-bottom: 4rem;    
    } 
.linkbox:last-of-type {
width: 91%;
float:left;
height: 14em;
}
}
    
@media (max-width: 1280px) {
.feature-box-sec4 {
width: 100%;
height: 15em;
background-image:none; 
text-align: center;
}

.linkbox:last-of-type {
width: 92%;
float:left;
height: 14em;
}

.feature-box-sec4 > a > p{
margin-bottom: 2.8rem;
}
}

@media (max-width: 1224px) {
.feature-box-sec4 {
width: 100%;
height: 14em;
margin-bottom: .6rem;
background-image:none; 
}

.linkbox:last-of-type {
width: 98%;
float:left;
height: 18em;
margin-bottom: .6rem;
}
.col-2:nth-child(2) >.linkbox > .feature-box-sec4 > a > p{
margin-bottom: 6rem;    
} 
.feature-box-sec4 > a > p{
color: white;
margin-bottom: 20%; 
}

.feature-box-sec4 > a > p{
margin-bottom: 2.9rem;
}
}


@media(width:1024px){
.feature-box-sec4 {
width: 100%;
height: 14em; 
margin-bottom: .6rem;    
background-position: 88% 84%;
}
.linkbox:last-of-type{
    margin:0;
}    
.col-2:nth-child(2) >.linkbox > .feature-box-sec4 > a > h2{
margin-bottom: 3rem;    
}   
.col-2:nth-child(2) >.linkbox > .feature-box-sec4 > a > p{
margin-bottom: 4rem;    
}    
}

@media(max-width: 960px) {
.feature-box-sec4 {
text-align: center;
background: none; 
}
}
@media (max-width: 850px) {
.feature-box-sec4 > a > p{
color: white;
margin-bottom: 30%; 
}
.fill-div{
margin:0;
}
.linkbox:last-of-type {
height: 18rem;
}
.feature-box-sec4{
padding: 1.5rem;
}
.col-2:nth-child(3) >.linkbox > .feature-box-sec4 > a > p{
margin-bottom: 3rem;    
}   
.col-2:nth-child(2) >.linkbox > .feature-box-sec4 > a > p{
margin-bottom: 5rem;    
} 
}

@media(max-width: 768px){
.linkbox:last-of-type {
height: 17rem;
}
.feature-box-sec4{
    padding: 1.5rem;
}
.col-2>.linkbox > .feature-box-sec4 > a > h2{
    margin-top:0;
}
.col-2:nth-child(3) >.linkbox > .feature-box-sec4 > a > p{
margin-bottom: 4.2rem;    
}     
.col-2:nth-child(2) >.linkbox > .feature-box-sec4 > a > p{
margin-bottom: 4rem;    
} 
.col-2:nth-child(2) >.linkbox > .feature-box-sec4 > a > h2{
margin-bottom: 3.2rem;    
} 
}

@media(max-width: 740px){
.linkbox:last-of-type {
height: 16.8rem;
}
.feature-box-sec4{
    padding: 1.5rem;
}
.col-2>.linkbox > .feature-box-sec4 > a > h2{
    margin-top:0;
}
.col-2:nth-child(3) >.linkbox > .feature-box-sec4 > a > p{
margin-bottom: 3rem;    
}     
.col-2:nth-child(2) >.linkbox > .feature-box-sec4 > a > p{
margin-bottom: 4rem;    
} 
.col-2:nth-child(2) >.linkbox > .feature-box-sec4 > a > h2{
margin-bottom: 3.2rem;    
} 
}

@media (max-width: 670px){
.feature-box-sec4 > a > p{
color: white;
margin-bottom: 20%; 
width:100%;  
}  
.linkbox:last-of-type{
width:100%;
}
} 
@media (max-width: 650px){
.linkbox:last-of-type{
    margin:0 0 1rem 0;
    height: 13rem;
    width:100%;
}
.col-2:nth-child(1) >.linkbox > .feature-box-sec4 > a > p{
margin-bottom: 3rem;
}
.col-2:nth-child(2) >.linkbox > .feature-box-sec4 > a > h2{
margin-bottom: 1.5rem;    
}
.col-2:nth-child(2) >.linkbox > .feature-box-sec4 > a > p{
margin-bottom: 3rem;
}
.col-2:nth-child(3) >.linkbox > .feature-box-sec4 > a > p{
margin-bottom: 3rem;
}
}
@media(max-width:480px){
.linkbox:last-of-type{
margin:0 0 1rem 0;
height: 14rem;
width:100%;
}
.col-2:nth-child(1) >.linkbox > .feature-box-sec4 > a > p{
margin-bottom: 3rem;
}
.col-2:nth-child(2) >.linkbox > .feature-box-sec4 > a > h2{
margin-bottom: 1.5rem;    
}
.col-2:nth-child(2) >.linkbox > .feature-box-sec4 > a > p{
margin-bottom: 4rem;
}
.col-2:nth-child(3) >.linkbox > .feature-box-sec4 > a > p{
margin-bottom: 3rem;
}
}
@media(width:412px){
 .col-2:nth-child(3) >.linkbox > .feature-box-sec4 > a > p{
margin-bottom: 4.5rem;
}   
}

@media(max-width:360px){
.linkbox:last-of-type{
margin:0 0 1rem 0;
height: 14rem;
width:100%;
}
.col-2:nth-child(1) >.linkbox > .feature-box-sec4 > a > p{
margin-bottom: 3rem;
}
.col-2:nth-child(2) >.linkbox > .feature-box-sec4 > a > h2{
margin-bottom: 1.5rem;    
}
.col-2:nth-child(2) >.linkbox > .feature-box-sec4 > a > p{
margin-bottom: 4rem;
}
.col-2:nth-child(3) >.linkbox > .feature-box-sec4 > a > p{
margin-bottom: 3rem;
}
}
@media(max-width:320px){
.col-2:nth-child(2) >.linkbox > .feature-box-sec4 > a > p{
margin-bottom: 2.5rem; 
}
}
/* === VIDEO-BEREICH === */

#video-bereich {
background-color: #fff;
color: #3e3e3e;
margin-right: 2.5%;
}
@media(max-width:1440px){
#video-bereich{
margin-right: -0.7%;
}
}
#video-bereich video {
width: 100%;
height: auto;
margin-left: auto;
margin-right: auto;
display: block;
float:right;     
}
@media (max-width: 2000px) {

#video-bereich video {
width: 90%;
margin-top:2.5%; 
margin-right: 0rem;
}
}
@media (max-width: 1440px) {
#video-bereich video {
width: 90%;
margin-top:2.5%; 
margin-right: 2.5rem;
}
}
@media (max-width: 1280px) {
#video-bereich video {
width: 95%;
margin-top: 2%; 
margin-right: 2.1rem;   
}

}
@media (max-width: 1024px) {

#video-bereich video {
width: 90%;
margin-top: 6%;
margin-right: 0.6rem;
}

}
@media (max-width: 914px) {

#video-bereich video {
width: 90%;
margin-top: 17%;      
}
}
@media (max-width: 800px) {

#video-bereich video {
width: 90%;
margin-top: 24%;  
margin-right:0.2rem;  
}
}
@media (max-width: 735px) {

#video-bereich video {
width: 90%;
margin-top: 27%;  
margin-right:0.2rem;  
}
}

@media (max-width: 670px) {

#video-bereich video {
width: 100%;
margin-top:0; 
margin-right:0;
}

}


#video{
width: 100%; 
}

/* === BE PART OF STYX === */

#be-part-of-styx {
background-color: #f6f6f6;
color: #3e3e3e;
}



/* === SERVICE-BEREICH === */

#service-bereich {
background-color: #F0F0F0;
}

.service-box {
text-align: center;
width: 100%;  
}
.service-box > p{
font-size: 1.1rem;
padding-left: 6%; 
padding-right: 8%;    
}
.service-box h1 {
font-size: 1.4rem;
}

@media(min-width:3201px){
.service-box > p{
font-size: 1.5rem; 
}
.service-box > h1{
font-size: 2.2rem
}
}
@media(max-width:2800px){
.service-box > p{
padding-left: 5%; 
padding-right: 5%;    
}
}

@media(width:2000px){
.service-box > p{
padding-left: 0 !important ; 
padding-right: 0 !important;
}
.col-2:first-of-type > .service-box > p{
padding-left: 5%; 
padding-right: 3%;
}    
.col-2:last-of-type  > .service-box> p{
padding-left: 3%; 
padding-right: 5%;
}   
}
@media(max-width:1900px){
.service-box > p{
padding-left: 11%; 
padding-right: 10%;    
}
}
@media(max-width:1440px){
.service-box > p{
padding-left: 5%; 
padding-right: 1%;    
}
}
@media(max-width: 1366px){
.col-2:first-of-type > .service-box > p, h1{
padding-left: 2%; 
padding-right: 5%;
}    
.col-2:last-of-type  > .service-box> p, h1{
padding-left: 0%; 
padding-right: 2%;
}
}
@media(max-width:1280px){
.service-box > p{
padding-left: 4%; 
padding-right: 7%;    
}
}
@media(max-width:1024px){
.service-box > p{
padding-left: 0%; 
padding-right: 0%;    
}
}
@media(max-width:800px){
.service-box > p{
padding-left: 1%; 
padding-right: 0%;    
}
}
@media(max-width:600px){
.service-box > p{
margin-top: 0.5rem;   
}
.service-box > h1{
margin-bottom: 0.5rem;
}
}
@media(max-width:480px){
.col-2:first-of-type > .service-box > p, h1{
padding-left: 0; 
padding-right:0;
}    
.col-2:last-of-type  > .service-box> p, h1{
padding-left: 0; 
padding-right: 0;
}
}
#service-bereich .row:nth-of-type(2) > .col-2:first-of-type > .service-box {
margin-right: 0;
margin-left: auto;
}

#service-bereich .row:nth-of-type(2) > .col-2:nth-of-type(2) > .service-box {
margin-left: auto;
margin-right: auto;
}

.service-icon {
width: 120px;
height: 120px;
border-radius: 50%;
margin-left: auto;
margin-right: auto;
-webkit-transition: -webkit-transform 1s;
transition: -webkit-transform 1s;
transition: transform 1s;
transition: transform 1s, -webkit-transform 1s;
}
@media(min-width:3201px){
.service-icon{
width: 160px;
height: 160px; 
}
}
@media (max-width: 800px){
.service-icon{
width: 90px;
height: 90px; 
}
}

.service-icon:hover {
-webkit-transform: scale(1.1);
transform: scale(1.1);
}

#styx-icon {
background: #1eb5bc url("../img/icons/ic_styx_xs2a.svg") center;
background-repeat: no-repeat; 
background-size: 40%;    
}

#bank-icon {
background: #1eb5bc url("../img/icons/ic_bank.svg") center;
background-repeat: no-repeat; 
background-size: 40%;    
}

#modularity-icon {
background: #1eb5bc url("../img/icons/ic_modular_puzzleteil_pf.svg") 46%;
background-repeat: no-repeat; 
background-size: 40%;    
}


@media (max-width: 800px){
#styx-icon {
background: #1eb5bc url("../img/icons/ic_styx_xs2a.svg") 50%;
background-repeat: no-repeat; 
background-size: 40%;    
}

#bank-icon {
background: #1eb5bc url("../img/icons/ic_bank.svg") 50%;
background-repeat: no-repeat; 
background-size: 40%;    
}

#modularity-icon {
background: #1eb5bc url("../img/icons/ic_modular_puzzleteil_pf.svg") 47%;
background-repeat: no-repeat; 
background-size: 40%;    
}
}
@media (max-width: 800px) {

#service-bereich > .container > .row:nth-of-type(2) > .col-2 > .service-box {
margin-right: auto;
margin-left: auto;
}
}

@media (max-width: 480px) {

.service-box {
width: 100%;
}
}


/* === FOOTER === */

#footer {
background-color: #005282;
height: 5rem;
color: #FFF;
padding: 1% 3.5%; 
}

#footer-nav {
float: right;
font-size: 1rem;
}

#footer-nav > a{
text-decoration: none; 
color: white;     
}
@media(max-width:3901px){
#footer{
height: 10rem; 
padding: 1.5% 3.5%; 
font-size: 1.5rem; 
}
#footer-nav > a{
font-size: 1.5rem; 
}
}
@media(max-width:3201px){
#footer{
height: 10rem; 
padding: 1.7% 3.5%; 
font-size: 1.5rem; 
}
#footer-nav > a{
font-size: 1.5rem; 
}
}
@media (max-width: 2800px){
#footer{
padding: 1.2% 3.2%;
height:5rem;
} 
}
@media (max-width: 2600px){
#footer{
padding: 0.7% 3.3%;
font-size:1.1rem;
} 
#footer-nav > a{
font-size: 1.1rem; 
}
}
@media (max-width: 2300px){
#footer{
padding: 0.6% 3.3%;
} 
}
@media (max-width: 2000px){
#footer{
padding: 1.2% 3.3%;
} 
}
@media (max-width: 1920px){
#footer{
padding: 1% 3.3%;
font-size: 1rem; 
}
#footer-nav > a{
font-size: 1rem; 
}
}
@media (max-width: 1440px){
#footer{
padding: 1.2% 3.5%;
} 
}
@media (max-width: 1280px){
#footer{
padding: 1.5% 3.4%;
} 
}
@media (max-width: 1100px){
#footer{
padding: 2% 4.2%;
}    
}
@media (max-width: 1024px){
#footer{
padding: 2% 3.6%;
}  
}
@media (max-width: 1005px){
#footer{
padding: 2% 4%;
}  
}
@media (max-width: 800px){
#footer{
padding: 2% 2.8%;
}   
}
@media (max-width: 768px){
#footer{
padding: 2.7% 3%;
}   
}
@media (max-width: 640px){
#footer{
padding: 3.2% 4.3%;
}
}
@media (max-width: 600px){
#footer{
padding: 3% 4%;
}
}
@media (max-width: 565px) {
#footer span {
display: none; 
}
#footer-nav{
margin: 2.5%;
margin-right: 33%;
}  
}
@media (max-width: 480px) {
#footer-nav{
margin: 2%; 
margin-right: 33%;
}    
}
@media (max-width: 320px) {
#footer-nav{
margin: 4%; 
margin-right: 27%;
}    
}


/* === GRID-SYSTEM === */

.container {
width: 100%;
margin-left: auto;
margin-right: auto;
}

.row::after {
content: "";
clear: both;
display: block;
}

[class*='col-'] {
float: left;
min-height: 1px;
padding: .8rem;
}

.col-1 { width: 14.666%; margin-left: 1%; margin-right: 1%; }
.col-2 { width: 30.333%; margin-left: 1.5%; margin-right: 1.5%}
.col-3 { width: 50%; }
.col-4 { width: 66.666%; }
.col-6 { width: 100%;    }


@media (max-width: 5000px) {
.col-1 { width: 22%; margin-left: 1%; margin-right: 1%;}
.col-6 > .col-1:last-of-type{margin-right: 3%; padding-right:0.3%; }
.col-6 > .col-1:first-of-type{margin-left: 3%; padding-left:0.4%;}  
.col-2 { width: 32.333%; margin-left: 0.5%; margin-right: 0.5%;}
.col-3 { width: 50%; margin-left: 0%; margin-right: 0%;}
.col-4 { width: 60.666%; margin-left: 3%; margin-right: 3%;}
.col-6 { width: 65%; margin-left: 7.5%; margin-right: 7.5%;}
}

@media(max-width: 2600px){
.col-2 { width: 32.333%; margin-left: 0.5%; margin-right: 0.5%;}
.col-3 { width: 50%; margin-left: 0%; margin-right: 0%;}
.col-4 { width: 60.666%; margin-left: 3%; margin-right: 3%;}
.col-6 { width: 85%; margin-left: 7.5%; margin-right: 7.5%;}
}
@media (min-width: 2000px) {
.col-6 { width: 70%; margin-left: 15%; margin-right: 15%;}
}


@media (max-width: 2000px) {  
.col-2 { width: 32.333%; margin-left: 0.5%; margin-right: 0.5%;}
.col-3 { width: 50%; margin-left: 0%; margin-right: 0%;}
.col-4 { width: 60.666%; margin-left: 3%; margin-right: 3%;}
.col-6 { width: 85%; margin-left: 7.5%; margin-right: 7.5%;}
}


@media (max-width: 1440px) {
.col-1{ width: 21%; margin-left: 1.5%; margin-right: 1.5%;}
.col-6 > .col-1:last-of-type{margin-right: 0%; margin-left:2.2%; padding-right:0.3%; }
.col-6 > .col-1:first-of-type{margin-left: 3%; padding-left:0.4%;}
.col-2 { width: 32.333%; margin-left: 0.5%; margin-right: 0.5%;}
.col-3 { width: 50%; margin-left: 0%; margin-right: 0%;}
.col-4 { width: 60.666%; margin-left: 3%; margin-right: 3%;}
.col-6 { width: 85%; margin-left: 7.5%; margin-right: 7.5%;}
}    

@media(width: 1366px){
.col-1{ width: 21%; margin-left: 1.5%; margin-right: 1.5%;}
.col-6 > .col-1:last-of-type{margin-right: 0%; margin-left:2.2%; padding-right:0.3%; }
.col-6 > .col-1:first-of-type{margin-left: 3%; padding-left:0.4%;}
}

@media (max-width: 1280px) {
.col-1{ width: 21%; margin-left: 1.5%; margin-right: 1.5%; padding:0.5%;}
.col-2 { width: 32.333%; margin-left: 0.5%; margin-right: 0.5%;}
.col-3 { width: 50%; margin-left: 0%; margin-right: 0%;}
.col-4 { width: 60.666%; margin-left: 3%; margin-right: 3%;}
.col-6 { width: 85%; margin-left: 7.5%; margin-right: 7.5%;}
}

@media(max-width: 1279px){
.col-1, .col-6 > .col-1:last-of-type, .col-6 > .col-1:first-of-type { width: 19.6%; margin-left: 2.7%; margin-right: 2.7%;}
}   

@media (max-width: 1024px) {
.col-1, .col-6 > .col-1:last-of-type, .col-6 > .col-1:first-of-type { width:  47%; margin: 1.5%; padding-bottom:1rem; padding-left:1rem; padding-right:1.5rem;} 
.col-2 { width: 27.333%; margin-left: 3%; margin-right: 3%;}
.col-3 { width: 47%; margin-left: 1.5%; margin-right: 1.5%;}
.col-4 { width: 60.666%; margin-left: 3%; margin-right: 3%;}
.col-6 { width: 94%; margin-left: 3%; margin-right: 3%;}   
}
@media(max-width: 960px){
.col-1, .col-6 > .col-1:last-of-type, .col-6 > .col-1:first-of-type  {width:  47%; margin: 1.5%; padding:.8rem;}  
}    
@media (max-width: 850px) {
.col-1, .col-6 > .col-1:last-of-type, .col-6 > .col-1:first-of-type  {width:  47%; margin: 1.5%; padding:.8rem;}  
.col-2 { width: 31.333%; margin-left: 1%; margin-right: 1%;}
.col-3 { width: 47%; margin-left: 1.5%; margin-right: 1.5%;}
.col-4 { width: 60.666%; margin-left: 3%; margin-right: 3%;}
.col-4 { width: 60.666%; margin-left: 3%; margin-right: 3%;}
.col-6 { width: 97%; margin-left: 1.5%; margin-right: 1.5%;}   
}

@media(max-width: 670px){
.col-3 { width: 100%; margin:0;}
.col-2 { width: 100%; margin:0;}    
}

@media (max-width: 600px) {
.col-1, .col-6 > .col-1:last-of-type, .col-6 > .col-1:first-of-type { width: 100%; margin:0; padding:.8rem;}
.col-4 { width: 100%; margin:0;} 
.col-6 {width: 95%; margin-left: 2.5%; margin-right: 2.5%;}
}
